In [89]:
import pandas as pd
import numpy as np

In [90]:
pengSize = pd.read_csv('penguins_size.csv')
pengSize.sample(10)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,MALE
91,Adelie,Dream,41.1,18.1,205.0,4300.0,MALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
57,Adelie,Biscoe,40.6,18.8,193.0,3800.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
266,Gentoo,Biscoe,45.5,13.9,210.0,4200.0,FEMALE
105,Adelie,Biscoe,39.7,18.9,184.0,3550.0,MALE
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,FEMALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
171,Chinstrap,Dream,49.2,18.2,195.0,4400.0,MALE

In [91]:
pengSize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [92]:
pengSize.loc[pengSize['sex'].isnull()]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [93]:
pengSize.loc[pengSize['island'].isnull()]

Empty DataFrame
Columns: [species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

In [94]:
pengSize.loc[pengSize['species'].isnull()]

Empty DataFrame
Columns: [species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

In [95]:
pengSize.loc[pengSize['culmen_length_mm'].isnull()]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [96]:
pengSize['sex'] = pengSize['sex'].replace({'MALE' : 0, 'FEMALE' : 1})

In [97]:
pengSize[pengSize['sex'] == 1].count()

species              165
island               165
culmen_length_mm     165
culmen_depth_mm      165
flipper_length_mm    165
body_mass_g          165
sex                  165
dtype: int64

In [98]:
pengSize.groupby('sex').count()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
sex,,,,,,
0,168,168,168,168,168,168
1,165,165,165,165,165,165
.,1,1,1,1,1,1

In [99]:
pengSize['sex'].fillna(0, inplace=True)

In [100]:
pengSize.loc[pengSize['sex'].isnull()]

Empty DataFrame
Columns: [species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

In [101]:
pengSize.loc[pengSize['sex']=='.']

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,.

In [102]:
pengSize.groupby('sex').count()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
sex,,,,,,
0,178,178,176,176,176,176
1,165,165,165,165,165,165
.,1,1,1,1,1,1

In [103]:
pengSize['sex'] = pengSize['sex'].replace({"." : 1})

In [104]:
pengSize.groupby('sex').count()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
sex,,,,,,
0,178,178,176,176,176,176
1,166,166,166,166,166,166

In [105]:
pengSize.loc[pengSize['culmen_length_mm'].isnull()]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,0
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,0

In [107]:
pengSize.loc[pengSize['culmen_length_mm'].isnull()]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,0
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,0

In [108]:
mean_c = pengSize['culmen_length_mm'].mean()

In [109]:
mean_c

43.9219298245614

In [110]:
pengSize['culmen_length_mm'].fillna(mean_c, inplace=True)

In [111]:
mean_cd = pengSize['culmen_depth_mm'].mean()

In [112]:
mean_cd

17.151169590643278

In [113]:
pengSize['culmen_depth_mm'].fillna(mean_cd, inplace=True)

In [114]:
mean_f = pengSize['flipper_length_mm'].mean()

In [115]:
mean_f

200.91520467836258

In [116]:
pengSize['culmen_depth_mm'].fillna(mean_f, inplace=True)

In [117]:
mean_b = pengSize['body_mass_g'].mean()

In [118]:
mean_b

4201.754385964912

In [119]:
pengSize['body_mass_g'].fillna(mean_b, inplace=True)

In [120]:
pengSize.iloc[[3]]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,43.92193,17.15117,NaN,4201.754386,0

In [121]:
pengSize['flipper_length_mm'].fillna(mean_f, inplace=True)

In [122]:
pengSize.iloc[[3]]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,0

In [123]:
pengSize.iloc[[339]]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,0

In [124]:
pengSize.loc[pengSize['sex'].isnull()]

Empty DataFrame
Columns: [species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

In [125]:
pengSize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   344 non-null    float64
 3   culmen_depth_mm    344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 18.9+ KB

In [126]:
pengSize['island'] = pengSize['island'].replace({'Torgersen' : 0, 'Biscoe' : 1,  'Dream' : 2})
pengSize['sex'] = pengSize['sex'].replace({'MALE' : 0, 'FEMALE' : 1})
pengSize['species'] = pengSize['species'].replace({'Adelie': 0, 'Chinstrap': 1, 'Gentoo': 2})
pengSize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    int64
 1   island             344 non-null    int64
 2   culmen_length_mm   344 non-null    float64
 3   culmen_depth_mm    344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 18.9 KB

In [129]:
x_data = pengSize[['island','culmen_length_mm','culmen_depth_mm','flipper_length_mm','body_mass_g','sex']]
x_data.head()

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,39.10000,18.70000,181.000000,3750.000000,0
1,0,39.50000,17.40000,186.000000,3800.000000,1
2,0,40.30000,18.00000,195.000000,3250.000000,1
3,0,43.92193,17.15117,200.915205,4201.754386,0
4,0,36.70000,19.30000,193.000000,3450.000000,1

In [130]:
y_target = pengSize['species']
y_target.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [131]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    x_data, y_target, test_size=0.33, random_state=123
)

In [133]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=8)

In [134]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=8)

In [135]:
predictKNN = knn.predict(X_test)

In [137]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(predictKNN, y_test)
print(accuracy)

0.7192982456140351

In [138]:
from sklearn import tree

DecisionTree = tree.DecisionTreeClassifier()
DecisionTree.fit(X_train, y_train)

DecisionTreeClassifier()

In [140]:
y_pred = DecisionTree.predict(X_test)
treeAccuracy = accuracy_score(y_pred, y_test)
print(treeAccuracy)

0.9473684210526315

In [142]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB()

In [144]:
predGNB = gnb.predict(X_test)
gnbAccuracy = accuracy_score(predGNB, y_test)
print(gnbAccuracy)

0.956140350877193